.header {
  position: fixed;
  top: 0px;
  padding: 10px;
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px dotted #777777;
}

.header span {
  align-self: center;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comics-list {
  margin-top: 110px;
}

.comics-list .item {
  color: #777777;
  padding: 10px 0px;
  padding-left: 10px;
  border-bottom: 1px dotted #777777;
  min-height: 130px;
  display: block;
}

.comics-list .item:hover {
  background: #eeeeee;
  cursor: pointer;
}

.comics-list .item.selected {
  background: #faffae;
}

.comics-list .item.selected span {
  color: #12cc2a;
  font-weight: bold;
}

.comics-list .item .title {
  margin-bottom: 5px;
}

.comics-list .item img {
  height: 100px;
  margin-right: 10px;
  border: 1px dotted #777777;
}